OWASPJaasLoginModule/jaastestdb.dtd

<!ELEMENT dataset (
    LOGIN*,
    ROLES*,
    USERS*,
    USERS_ROLES*)>

<!ELEMENT LOGIN EMPTY>
<!ATTLIST LOGIN
    USERID CDATA #IMPLIED
    TIMESTAMP CDATA #IMPLIED
    DELAY CDATA #IMPLIED
    FAILEDLOGINS CDATA #IMPLIED
>

<!ELEMENT ROLES EMPTY>
<!ATTLIST ROLES
    ROLEID CDATA #REQUIRED
    ROLENAME CDATA #IMPLIED
>

<!ELEMENT USERS EMPTY>
<!ATTLIST USERS
    USERID CDATA #REQUIRED
    USERNAME CDATA #IMPLIED
    PASSWORD CDATA #IMPLIED
>

<!ELEMENT USERS_ROLES EMPTY>
<!ATTLIST USERS_ROLES
    USERID CDATA #IMPLIED
    ROLEID CDATA #IMPLIED
>

